[submodule "NeuralNetworks/Snake"]
	path = NeuralNetworks/Snake
	url = git@github.com:Akhilez/smart-snake.git

[submodule "NeuralNetworks/TicTacToe"]
	path = NeuralNetworks/TicTacToe
	url = git@github.com:Akhilez/tic-tac-toe.git

[submodule "Practice/quarantine-coding"]
	path = Practice/quarantine-coding
	url = git@github.com:Raviezz/quarantine-coding-marathon.git
